main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens {
    width: 400px;
    height: 400px;
}

.carousel img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 60px;
}

.btn-comprar {
    background-color: #fff;
    color: #7f1734;
    border: 1px solid #7f1734;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 30%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-comprar:hover {
    letter-spacing: 3px;
    background-color: #7f1734;
    color: hsl(0, 0%, 100%);
    box-shadow: #7f1734;
    border: 0px;
}

.btn-comprar:active {
    letter-spacing: 3px;
    background-color: #7f1734;
    color: hsl(0, 0%, 100%);
    box-shadow: #7f1734 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    border: 0px;
}

.text-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-price h2{
    color: green;
    font-weight: bold;
}

.title-price h1 {
    font-size: 2.7rem;
    font-weight: bold;
}

.description p {
    font-size: 1.2rem;
}

.calc-price p{
    font-size: 1rem;
}

.calc-price input{
    height: 30px;
    width: 50px;
    border: 1px #7f1734 solid;
    color: #7f1734;
}

.calc-price button {
    border-radius: 20px;
    background-color: #7f1734;
    color: #fff;
    border: 0px;
    padding: 5px 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.calc-price button:hover {
    transform: scale(1.05);
}
