@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    width: 100%;
    height: auto;
    font-family: "Inter", sans-serif;
    margin: 0;
	padding: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

main{
    width: 100%;
}


/* ======================= HEADER STYLES =========================== */

header{
    background-color: #7f1734;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
}

.logo-header {
    width: 150px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.btn {
    border-radius: 8px;
    border: none;
    box-shadow: 9px 10px 15px -3px rgba(0,0,0,0.1);
    transition: all 300ms;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.button-header{
    width: 100px;
    height: 40px;
    color: #7f1734;
    background-color: #fff;
}

nav ul li{
    transition: all 300ms;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

.btn:hover{
    transform: scale(1.1);
}

.button-header:hover{
    background-color: #BA5E77;
    color: #fff;
}

nav ul li:hover{
    transform: scale(1.1);
}

/* ======================= HOME STYLES =========================== */
#home{
    height: 100vh;
    width: 100%;
}

.home__infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home__infos-text{
    display: flex;
    flex-direction: column;
    padding: 90px;
}

.home__infos-text h1{
    font-size: 3rem;
    color: #7f1734;
}

.home__infos-text p{
    font-size: 1.5rem;
}

.home__infos-text button{
    width: 300px;
    padding: 25px;
    font-size: 1.5rem;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #7f1734;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    margin-top: 40px;
}

.home__infos-text button:hover{
    background: #a03954;
}

.home__bg{
    position: absolute;
    z-index: -1;
}


/*======================== "VISITA" STYLES ======================== */

.pagvisita {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 770px;
    background-color: #ddc49e;
    justify-content:space-between;
    align-items: center;
}

.container {
    height: 426px;
    margin: 0 200px 105px;
    font-size: 18px;

}
#Titulo_4{
    color: #7f1734;
    font-size: 48px;
}

#caixanum {
    width: 250px;
    background-color: #7f1734;
    color: #fff;
    font-family: "Inter", sans-serif;
    border-radius: 20px;
    border: none;

}
/* Estilos para o botão */
#btnsent {
    width: 50px;
    padding: 5px 5px;
    background-color: #7F1734;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

#btnsent:hover {
    background-color: #a03954;
}

#images{
    position: relative;
}

.imagem-1, .imagem-2{
    position: absolute;

}
.imagem-1{
    z-index: 2;
    width: 740px;
    bottom: -390px;
    left: -740.5px;
}
.imagem-2{
    z-index: 0;
    bottom: -390px;
    left: -358px;
}

/* ======================= MODAL STYLES =========================== */
.modal {
    width: 300px;
    height: 150px;
    background-color: #7f1734;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 44%;
    left: 42%;
    z-index: 10;
    display: none;
}

.div-botoes{
    display: flex;
    gap: 30px;
}

.btn-confimar{
    background-color: #28631d;
    color: #fff;
    width: 60px;
    height: 30px;
}

.btn-cancelar{
    background-color: #ad1111;
    color: #fff;
    height: 30px;
    width: 60px;
}


h6{
    margin-bottom: 0px;
    font-size: 24px;
}
#modalform-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}
.close-modal{
    padding: .6rem 1.2rem;
    background-color: #7f1734;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
}

.modal-form{
    display: none;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    z-index: 5;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    padding: 50px 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.1rem;
}
textarea{
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: "Inter", sans-serif;
}

#btnenv{
    width: 100%;
    background-color: #7F1734;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    color:#fff;
}

/* ======================= FOOTER STYLES =========================== */
footer{
    width: 100%;
    background: #7f1734;
    display: flex;
    color: #fff;
    gap: 60px;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-logo{
    width: 250px;
    height: 150px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer ul {
    font-weight: 400;
}


.colecao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
}

.titulo-colecao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.titulo-colecao h1 {
    color: #7F1734;
}


.colecao-card {
    border-radius: 6px;
    background-color: #7F1734;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 320px;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.imagem-card {
    width: 200px;
    height: 180px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    justify-content: center;
    width: 1200px;
}

.texto-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    align-items: flex-start;
    width: 200px;
    height: 80px;
}

.button-card {
    text-decoration: none;
    color:#7F1734;
    background-color: #fff;
    padding: 12px;
}

.button-card:hover {
    background-color: #9a2345;
    color: #fff;
}

.texto-card h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* ===================== SOBRE NOS STYLES ================= */

#sobre_nos {
    color: #000000;
    padding: 20px 90px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
   gap: 30px;
   background-image: url("images/bgsobre.png");
   background-size: cover;
}


#sobre_nos div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

#sobre_nos h1 {
    font-size: 24px; 
    justify-content:center;
    color: #7F1734;
}

#sobre_nos p {
    font-size: 16px; 
    justify-content:center;
}

#sobre_nos button {
    background-color: #7f1734;
    color: #DDC49E; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    justify-content:center;
    width: 120px;
    border-radius: 8px;
}

#sobre_nos img {
    justify-content:center;
}

.sobre-text{
    color: black;
    justify-content: center;
    align-items: center;
}

.sobre-partebotao{
    justify-content: center;
    align-items: flex-start;
}